# crawled messages files
creating_dataset/crawled_messages

# gathered dataset csv file
creating_dataset/messages.csv
creating_dataset/messages_cleaned.csv

# models, prediction files, etc
model/runs/ 